    * {
        /* background: rgb(0 100 0 / 0.1) !important; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1,h2,h2,h4,h5,h6 {
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }
    button a {
        text-decoration: none;
    }
    .navbar-brand img {
        height: 2em;
        width: 5em;
        border-radius: 30px;
    }
    .btn-group button a {
        color: white;
        border: 2px solid white;
        padding: .5em;
        transition: all 300ms ease-in-out;
    }
    .btn-group button a:hover {
        color: black;
        background-color: white;
    }
    .btn-group button + button a {
        color: white;
        border: 2px solid white;
        transition: 300ms;
    }
    .btn-group button + button a:hover {
        color: #00E0C0;
        background-color: white;
    }
    video {
        position: absolute;
        margin: 0;
        padding: 0;
        object-fit: fill;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 0;
    }
    #topting {
        position: sticky;
        top: 0%;
        z-index: 9999;
        /* background-color: rgba(255, 255, 255, 0.527); */
    }
    section.first {
        height: 100vh;
        padding: 2em 3em;
        /* background-image: url(imgs/portraitsample1copy.jpg); */
        background-repeat: no-repeat;
        background-position: bottom;
    }
    section.first {
        color: black;
    }
    section.first .d-sm-flex {
        justify-content: center;
        align-items: center;
    }
    section.first .text h5>span {
        /* color: #00E0C0; */
        color: white;
    }
    @media (max-width:60em) {
        video {
            display: none;
        }
        section.first img {
            display: none;
        }
        section.first {
            background-image: url(imgs/programming-concept-illustration_114360-1351.webp);
            background-position: center;
            height: max-content;
            color: white;
            padding: 2em 1em;
        }
        section.first .text h5 {
            color: black;
        }
        section.first .text h5>span {
            color: white;
        }
        section.first .text p {
            color: black;
        }
        .btn-group button a {
            color: white;
            border: 2px solid white;
            display: none;
        }
        .btn-group button a:hover {
            color: black;
            border: 2px solid white;
            background-color: white;
        }
        .btn-group button + button a {
            color: black;
            border: 2px solid black;
            display: block;
            transition: 300ms;
        }
        .btn-group button + button a:hover {
            color: #00E0C0;
            background-color: #03594D;
            border: 2px solid #00E0C0;
        }

    }
    @media (max-width: 40em) {
        section#testimonies .row div {
            height: 200px;
        }

    }
    .second ul.list li {
        list-style-type: circle;
        font-weight: 200;
    }
    a {
        text-decoration: none;
    }
    .navbar-nav .navitem a.nav-link {
        color: black;
        font-weight: 300;
        padding: 10px;
        /* font-size: larger; */
        /* font-family: Arial, Helvetica, sans-serif; */
        transition: all 400ms ease-in-out;
    }
    .navbar-nav .navitem a.nav-link:hover {
        color: green;
    }
    #services .image img {
        border-radius: 30px;
        margin: 20px 0px 0px 0px;
    }
    .offcanvas-stuff .offcanvas {
        background-color: #028773;
        height: 350px;
        width: 100%;
        overflow-y: hidden;
    }
    .offcanvas-stuff .offcanvas .offcanvas-header button {
        margin: 3% 0 0 0;
    }
    .offcanvas-stuff .offcanvas ul li {
        list-style-type: none;
        margin: 0px 0px 20px 10%;
        
    }
    .offcanvas-stuff .offcanvas ul li:nth-child(2) {
        transition-delay: 50ms;
    }
    .offcanvas-stuff .offcanvas ul li:nth-child(2) {
        transition-delay: 250ms;
    }
    .offcanvas-stuff .offcanvas ul li:nth-child(3) {
        transition-delay: 450ms;
    }
    .offcanvas-stuff .offcanvas ul li:nth-child(4) {
        transition-delay: 650ms;
    }
    .offcanvas-stuff .offcanvas ul li:nth-child(5) {
        transition-delay: 850ms;
    }
    .offcanvas-stuff .offcanvas ul li a {
        color: white;
        text-decoration: none;
        transition: color 500ms ease-in-out, margin 500ms ease-in-out;
    }
    .offcanvas-stuff .offcanvas ul li a:hover {
        color: rgb(42, 165, 138);
        margin-left: 20px;
    }
    section#achievements {
        background-color: rgba(128, 128, 128, 0.281);
    }
    section#achievements .card {
        border: none;
    }
    section#achievements #all div:nth-child(1) {
        transition-delay: 200ms;
    }
    section#achievements #all div:nth-child(2) {
        transition-delay: 400ms;
    }
    section#achievements #all div:nth-child(3) {
        transition-delay: 600ms;
    }
    section#achievements .row.p-3 {
        justify-content: center;
        align-items: center;
    }
    section#achievements .row.p-3 .col-md-6 img {
        /* padding: 0em 1em; */
        border-radius: 20px;
    }
    section#achievements .row .col-md-6 p {
        color: rgb(68, 68, 68);
        text-align: justify;

        font-weight: 300;
        font-size: 1.1em;
    }
    @media (min-width: 40em) {
        section#achievements .card {
            border: none;
            transition: margin 500ms ease-in-out;
        }
        section#achievements .card:hover {
            margin: -20px 0px 0px 0px;
        }
        section#achievements .row.p-3 {
            padding: 0em 1em;
        }
        section.six .card::before {
            content: "";
            position: absolute;
            background-color: #15734788;
            height: 8px;
            width: 100%;
            left: 0;
            bottom: 0;
            transition: 700ms;
        }
        section.six .card:hover::before {
            height: 100%;
        }
    }
    section#expertise {
        background-color: rgba(128, 128, 128, 0.281);
    }
    section.five {
        background-color: rgba(126, 126, 126, 0.062);
    }
    section.six {
        background-color: rgba(126, 126, 126, 0.062);
    }
    section.six .card {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border: none;
        /* transition: color 500ms ease-in-out; */
    }
    
    /* section.six .card:hover {
        color: red;
    } */
    section.seven .button button a {
        color: black;
        border: 2px solid black;
        padding: 1em 2em;
        transition: 400ms;
    }
    section.seven .button button a:hover {
        color: white;
        background-color: black;
    }
    #link {
        position: relative;
        text-decoration: none;
        padding: 5px 0px;
    }
    #link::after {
        content: "";
        position: absolute;
        background-color: green;
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        transition: 300ms;
    }
    #link:hover::after {
        width: 100%;
    }
    section.eight {
        background-color: rgba(126, 126, 126, 0.062);
    }
    section.eight form button {
        color: white;
        width: 100%;
        background-color: black;
        margin: 1em 0 0 0;
        padding: 1em 0em;
    }
    section.eight form button:hover {
        color: white;
        background-color: black;
    }
    section.eight form input {
        border: none;
        outline: none;
        width: 100%;
        height: 60px;
        padding: 30px;
        margin: 0px 0px 30px 0px;
    }
    section.eight form textarea#message {
        border: none;
        resize: none;
        padding: 20px;
        width: 100%;
        font-weight: 100;
        outline: none;
    }
    section#testimonies .row div {
        position: relative;
        transition: opacity 1s ease-out;
    }
    /* section#testimonies .row div img::before, 
    section#testimonies .row div img::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 1.5em;
    }
    section#testimonies .row div img {
        border-radius: 20px;
    }
    section#testimonies .row div img::after:hover {
        border-left: 3px solid red;
        border-right: 3px solid red;

    } */
    section#testimonies .row div:hover img {
        opacity: .5;
    }
    section#testimonies .row div:hover p {
        color: black;
        font-size: 2em;
    }
    section#testimonies .row div p {
        color: black;
        z-index: 2;
        transition: color 1s ease-out, font-size 1s ease-out;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    section.footer #scroller {
        position: fixed;
        right: 2%;
        bottom: 5%;
        border-radius: 50% 20% / 10% 40%;
        background: black;
        color: white;
        border: 1px solid white;
    }
    section.footer {
        background-color: black;
        overflow: hidden;
    }
    section.footer .container .firstpart img {
        transform: rotateX(0deg);
        transition: transform 3s;
    }
    section.footer .container .firstpart img:hover {
        transform: rotateX(360deg);
    }

    
    .row:nth-child(2) {
        transition-delay: 200ms;
    }
    .row:nth-child(3) {
        transition-delay: 400ms;
    }
    .row:nth-child(4) {
        transition-delay: 600ms;
    }

    .hidden {
        opacity: 0;
        filter: blur(2px);
        transform: translateX(-100%);
        transition: all 500ms;
    }
    .hiddentwo {
        opacity: 0;
        filter: blur(2px);
        transform: translateY(-100%);
        transition: all 700ms;
    }
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        transform: translateY(0);
    }
    .showtwo {
        /* opacity: 1; */
        filter: blur(0);
        transform: scale(1, 1);
    }
    .hiddenthree {
        /* opacity: 0; */
        filter: blur(2px);
        transform: scale(0, 0);
        transition: all 500ms;
    }
    /* .hiddenthree:hover {
        transform: scale(0, 0);
        opacity: 0;
        filter: blur(2px);
    } */

    .group-btn button:nth-child(2) {
        transition-delay: 200ms;
    }
#expertise div#skillBars .col-md-6:nth-child(2) {
    transition-delay: 200ms;
}
#expertise div#skillBars .col-md-6:nth-child(3) {
    transition-delay: 300ms;
}
#expertise div#skillBars .col-md-6:nth-child(4) {
    transition-delay: 400ms;
}
#expertise div#skillBars .col-md-6:nth-child(5) {
    transition-delay: 500ms;
}
#expertise div#skillBars .col-md-6:nth-child(6) {
    transition-delay: 600ms;
}

.list li:nth-child(2) {
    transition-delay: 200ms;
}
.list li:nth-child(3) {
    transition-delay: 300ms;
}
.list li:nth-child(4) {
    transition-delay: 400ms;
}
.list li:nth-child(5) {
    transition-delay: 500ms;
}

#job .row div:nth-child(2) {
    transition-delay: 200ms;
}
#job .row div:nth-child(3) {
    transition-delay: 400ms;
}
section.first .d-sm-flex img {
    transition-delay: 300ms;
    transition-timing-function: 1s;
}
#achievements .row div:nth-child(1) {
    transition-delay: 300ms;
}
form input:nth-child(2) {
    transition-delay: 300ms;
}
form textarea#message {
    transition-delay: 500ms;
}
#form h1 {
    transition-delay: 300ms;
}
#form p {
    transition-delay: 200ms;
}
#achievements a {
    cursor: pointer;
}
#modal {
    /* position: absolute; */
    top: 20%;
    left: 50%;
    /* top: 50%; */
    transform: translate(-50%);
    padding: 2em 2em;
    border: none;
    border-radius: 10px;
    max-width: 450px;
    transition: all 300ms;
}
#modal::backdrop {
    background: grey;
    opacity: .7;
}
#testimonies .row div:nth-child(2) a img {
    transition-delay: 200ms;
}
#testimonies .row div:nth-child(3) a img {
    transition-delay: 300ms;
}
#testimonies .row div:nth-child(4) a img {
    transition-delay: 400ms;
}
#testimonies .row div:nth-child(5) a img {
    transition-delay: 500ms;
}
#testimonies .row div:nth-child(6) a img {
    transition-delay: 600ms;
}
#testimonies .row div:nth-child(7) a img {
    transition-delay: 700ms;
}
